.App {
  text-align: center;
}

.container{
  margin-top: 40px;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin:auto;
}

.poke-name{
    padding: 5px 10px;
}

p {
  font-weight: bold;
	text-transform: capitalize;
}

.pokemon-box{
  width: 400px;
  height: 330px;
  border: 2px solid #000;
  margin: 30px 10px;
}

img{
  height: 300px;
  width: 300px;
}
